{% extends 'base.html' %}

{% block content %}

{% if object_list %}

{% endif %}

<ul>
    {% for dojolist in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "list" dojolist.id %}'">
            {{ dojolist.dojo_name }} 
        </div>
    </li>
    {% empty %}
    <h4>No Dojo available</h4>
    {% endfor %}
</ul>
<p>
        <input value="Add a new Dojo" type="button" onclick="location.href='{% url "dojo-add" %}'" />
</p>
{% endblock content %}