{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5 onclick="location.href='{% url 'dojo-update' dojo_list.id%}'">{{ dojo_list.dojo_name | upper }}</h5>
        </div>
        <ul>
            <table>
                {% if object_list %}
                <th>Name</th>
                <th>Birth Date</th>
                <th>Kyu</th>
                {% endif %}
                
                {% for member in object_list %}
                    <tr
                     onclick="location.href='{% url "member-update" dojo_list.id member.id%}'">
                        <td>{{member.name}}</td>
                        <td>{{member.birth_date}}</td>
                        <td>{{member.kyu}}</td>
                    </tr>
                {%empty %}
                    <p>You have no member</p>
                {% endfor %}
            </table>
        </ul>
        <p>
            <input
                value="Add a new member"
                type="button"
                onclick="location.href='{% url "member-add" dojo_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}