{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Edit list:</h3>
            <h5>{{ dojo_list.dojo | upper }}</h5>
        </div>
        <ul>
            <table>
                {% if object_list %}
                <th>Name</th>
                <th>Birth Date</th>
                <th>Kyu</th>
                {% endif %}
                
                {% for member in object_list %}
                    <tr>
                        <td>{{member.name}}</td>
                        <td>{{member.birth_date}}</td>
                        <td>{{member.kyu}}</td>
                    </tr>
                {%empty %}
                    <p>You have no member</p>
                {% endfor %}
            </table>
                {% comment %} {% for member in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href='#'">
                        {{ member.name }}
                    </div>
                </div>
            </li>
            {% empty %}
            <p>td are no to-do items in td list.</p>
            {% endfor %} {% endcomment %}
        </ul>
        <p>
            <input
                value="Add a new member"
                type="button"
                onclick="location.href='#'" />
        </p>
    </div>
</div>
{% endblock %}